# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Directories
_build/
bin/
pkg/
vendor/

# IDE specific files
.idea/
*.iml
.vscode/

# Log files
*.log

# Go workspace file
go.work

# GitHub Actions
!/.github
!/.github/workflows

# Go module files
go.sum

.vscode/

.env